# Set URL for your scoped packages.
# For example package with name `@foo/bar` will use this URL for download
npm config set @proai:registry https://gitlab.pro.ai/api/v4/projects/138/packages/npm/

# Add the token for the scoped packages URL. Replace <your_project_id>
# with the project where your package is located.
npm config set -- '//gitlab.pro.ai/api/v4/projects/138/packages/npm/:_authToken' "<oauth token>"
